/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}


input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* End of Error*/

/*  Filter Controls*/
.filter-control,
.grid-filter-control {
    width: 100%;
    height: 55px;
    margin-top: 2px;
}

.grid-filter-control {
    padding: 5px;
    background-color: #f3f3f3;
}

.grid-action-control {
    width: 100%;
    height: 30px;
    margin-top: 2px;
    padding: 2px;
    background-color: #f3f3f3;
}

/* Grid Controls*/
.grid-control {
    width: 100%;
}

    .grid-control .header {
        width: 100%;
        border-top: none;
    }
/* End */


.admin-header {
    background-color: #212121;
    z-index: 2;
}

.admin-header-user {
    margin: auto;
    line-height: 25px;
    font-size: 20px;
    color: white;
}

/* Admin Menu*/
.admin-header-menu {
    line-height: 20px;
    color: white;
    height: 35px;
    width: 100%;
    margin-top: 1px;
}
/* End Admin Menu*/


.login-section {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #36454F;
    margin: 0px;
}

.login-body {
    width: 500px;
    height: 330px;
    margin: auto;
    margin-left: -webkit-calc(100% - 65%);
    margin-left: calc(100% - 65%);
    margin-top: -webkit-calc(100% - 85%);
    margin-top: calc(100% - 85%);
    border: 0px;
    border-collapse: collapse;
    /*border: 1px solid rgba(255,255,255,0.6);*/
    z-index: 1;
}

.login-message {
    width: 300px;
    height: 80px;
    margin: auto;
    font-size: 20px !Important;
    text-align: center;
    padding: 5px;
    padding-top: 15px;
}


::-webkit-input-placeholder {
    color: #909090;
}

::-moz-input-placeholder {
    color: #909090;
}

/*.admin-section {
    width: 99%;
    overflow-x: hidden;
}

    .admin-section .content {
        width: 1000px;
        margin: auto;
    }


.boxHeader {
    color: white;
    height: 20px;
    background-color: #6F6F6F;
    border: none;
}

    .boxHeader > tr > th {
        padding: 9px !important;
    }*/

/* Login section */
.login-container {
    margin: auto;
    width: 450px;
    margin-top: 25%;
    border: solid 2px #F88017;
    padding: 30px;
    background-color: white;
    border-radius: 5%;
    z-index: 0;
}

.login-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-top: -30%;
    margin-left: 0px;
    background-color: white;
    background: url(../../favicon.ico);
    background-size: cover;
    border: solid 2px #F88017;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.login-heading {
    margin-left: 81px;
    font-size: 25px;
    color: #F88017;
    padding-left: 32%;
    background-color: white;
    width: 81%;
    border-radius: 45%;
}

.login-error {
    text-align: center;
    padding: 5px;
    padding-top: 15px;
    height: 30px;
}
/* End Login Section */
.message-header-container{
     margin-left:17%;
     width:83%; 
     margin-top:0px;
}

.message-header-container-2{
     margin-left:0px;
     width:83%; 
     margin-top:0px;
     padding:6px 20px;
}