html {
    margin: 0;
    padding: 0;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: transparent;
    cursor: default;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    height: 100%;
    display: block;
    line-height: 21px;
    color: #575757;
    text-align: justify;
}

/*.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
}*/


ul {
    list-style-type: none;
    padding-left: 25px;
    margin: 0px;
}

    ol li,
    ul li {
        line-height: 21px;
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        /*padding: 8px 0 0 0;*/
    }

    ul > li > a {
        text-decoration: none;
    }

    .heading,
    ul > li .heading {
        font-size: 14px;
        text-align: justify;
        color: #4e4e4e;
    }

        .heading:hover,
        ul > li .heading:hover {
            color: #5e72d1;
            cursor: pointer;
        }

p {
    margin: 0 0 20px 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: #616161;
}


    a.more {
        font-size: 14px;
        color: #8fde62;
        line-height: 20px;
        padding-right: 2px;
        text-decoration: none;
        padding: 3px;
        /*border: solid 1px #6a9650;*/
        /*border-radius: 15%;
        background-color: #737373;*/
        white-space: nowrap;
    }

        a:hover,
        a.more:hover {
            color: #305db9;
            text-decoration: none;
        }

    a:before,
    a::before, a::before(2),
    a:after,
    a::after,
    a::after(2) a.more:hover {
        color: #0528cc;
        text-decoration: none;
    }

input[type="checkbox" i] {
    margin: 0px;
}

input[type="checkbox" i] {
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}

input[type="radio" i],
input[type="checkbox" i] {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: none;
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-two {
    border: 0;
    height: 1px;
    background: #a5bdda;
    margin-top: 0px;
    background-image: linear-gradient(to right, #ECECEC, #BACAD0, #ECECEC);
}

hr.style-three {
    border: 0;
    height: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    background: #a3a3a3;
    background-image: linear-gradient(to right, #B7B7B7, #D2D2D2, #F5F5F5);
}

hr.style-four {
    border: 0;
    height: 1px;
    background: #a3a3a3;
    background-image: linear-gradient(to right, #B7B7B7, #D2D2D2, #F5F5F5);
    width: 320px;
}

hr.style-five {
    border: 0;
    padding: 0px;
    margin: 2px;
    height: 1px;
    background: #a3a3a3;
    background-image: linear-gradient(to right, #B7B7B7, #D2D2D2, #F5F5F5);
}

hr.style-six {
    border: 0;
    padding: 0px;
    margin: 2px 0 25px 0;
    height: 1px;
    background: #a3a3a3;
    background-image: linear-gradient(to right, #B7B7B7, #D2D2D2, #F5F5F5);
}

hr.style-seven {
    border: 0;
    height: 1px;
    background: #489BFF;
    margin-top: 0px;
    background-image: linear-gradient(to right, #FFFFFF, #DFEDF3, #FFFFFF);
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #ccc;
    color: #aaa;
    text-align: center;
    margin-top: 10px;
}

    hr.style-eight:after {
        content: "§";
        display: inline-block;
        position: relative;
        top: -0.7em;
        font-size: 1.5em;
        padding: 0 0.25em;
        background: white;
    }

.red-border {
    border: 1px solid #b94a48 !Important;
}

.green-border {
    border: 1px solid green !Important;
}

body {
    scrollbar-face-color: #666570;
    scrollbar-shadow-color: #666570;
    scrollbar-highlight-color: #666570;
    scrollbar-3dlight-color: #2e2e33;
    scrollbar-darkshadow-color: #2e2e33;
    scrollbar-track-color: #2e2e33;
    scrollbar-arrow-color: #666570;
}

.active {
    display: block;
}

.disable {
    display: initial;
}

.text-select {
    cursor: auto;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

.default-state {
    font-size: 0;
    padding: 0;
    display: block;
    border-radius: 5px;
    width: 5px;
    height: 5px;
    border: 1px solid #666570;
}

    .default-state.selected {
        background: #f93;
        border-color: #f93;
    }

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.pull-center {
    margin: auto;
}

.text-right {
    text-align: right;
    text-align: -webkit-right;
}

.text-left {
    text-align: left;
    text-align: -webkit-left;
}


.arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #0fe685;
    margin-top: 5px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid green;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid blue;
}

.round-corner {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.round-corner-bottom {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

.round-corner-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
}

.column-first {
    display: inline;
    float: left;
    min-width: 70px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    width: auto;
}


.down-arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    /*margin-left: 8px;*/
    margin-top: 7px;
}

.up-arrow {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

.space-left-2 {
    margin-left: 2px;
}

.space-left {
    margin-left: 5px !important;
}

.space-left1 {
    margin-left: 7px !important;
}

.space-left2 {
    margin-left: 10px;
}

.space-left3 {
    margin-left: 15px;
}

.space-left4 {
    margin-left: 16px;
}

.space-left5 {
    margin-left: 17px;
}

.space-right {
    margin-right: 5px;
}

.space-right2 {
    margin-right: 10px;
}

.space-right3 {
    margin-right: 15px;
}

.space-top1 {
    margin-top: 5px;
}

.space-top2 {
    margin-top: 10px;
}

.space-top3 {
    margin-top: 15px;
}

.space-top5 {
    margin-top: 25px;
}

.row-space {
    margin-top: 10px;
}

.display-inline {
    display: inline;
    float: left;
}

.margin-right-five {
    margin-right: 5px;
}

.padding-left-one {
    padding-left: 2px !important;
}

.padding-left-two {
    padding-left: 5px !important;
}

.padding-left-three {
    padding-left: 8px !important;
}

.padding-left-four {
    padding-left: 10px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-right-five {
    padding-right: 5px;
}

.padding-top-2 {
    padding-top: 2px;
}

.padding-top-5 {
    padding-top: 5px;
}

.vetical-scroll {
    overflow-y: auto;
    overflow-x: hidden;
}

.image {
    width: 325px;
    height: auto;
}

.caption {
    color: #3b5998;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2px;
}

.url {
    color: #3b5998;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2px;
    padding-top: 1px;
    font-size: 11px;
}

.text {
    color: #9197a3;
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    line-height: 1.28;
    padding-top: 6px;
    padding-left: 2px;
}



.page-body {
    width: 100%;
    height: auto;
    /*border: solid thin #d8d8d8;*/
}

.border {
    border: solid 1px #ccc;
}

.border-right {
    border-right: solid 1px black;
}

.border-bottom {
    border-bottom: solid 1px #ccc;
}

.error-div {
    width: 99%;
    padding: 4px;
    padding-left: 1px;
}

    .error-div span,
    .error-text-indicator {
        font-size: 12px;
        color: #b94a48;
    }

.border-shadow-inside {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.control-group {
    margin-bottom: 2px;
}

.control-group-gap {
    margin-bottom: 10px !important;
}

.control-group .controls {
    padding: 1px;
    padding-left: 0px;
    margin-left: 0px;
}
