

/* News List*/
.list-container {
    min-height:110px;
}
.news-list-image {
    height: 120px;
    width: 120px;
    border:none;
    border-radius: 50%;
    padding:3px;
}


.news-list-heading {
    font-size: 18px;
    text-align: justify;
    color: #4e4e4e;
    padding: 3px 0 0 0;
}
    .news-list-heading:hover {
        color: #5e72d1;
    }



.news-list-editor {
    font-size: 11px;
    color: #9da7b1;
    padding: 3px 0 2px 0;
    display:block;
}

.news-list-short-desc {
    font-size: 14px;
    color: #666;
    line-height: 25px;
    text-align: justify;
}

/* End News List*/

/* News Detail*/
.news-detail-heading {
    font-size: 20px;
    text-align: justify;
    color: #4e4e4e;
    padding: 3px 0 0 0;
}

.news-detail-editor {
    font-size: 11px;
    color: #767676;
    white-space: nowrap;
    padding: 10px 0 8px 5px;
}

.news-detail-Image {
    height: 75%;
    width: 100%;
    border-radius: 1%;
    background-size: cover;
    text-align: center;
}


.news-detail-content {
    font-size: 15px;
    text-align: justify;
}

    .news-detail-content > span {
        display: block;
    }

.news-detail-desc {
    color: #666;
    line-height: 20px;
    padding: 4px 0 0 0;
    text-align: justify;
    line-height: 30px;
}

.news-detail-editor:hover,
.news-detail-editor:hover {
    color: #0528cc;
}
