
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="topNews" class="container" ng-controller="newsListCtrl">
    <div class="row">
        <div class="col-xs-9">
            @Html.Partial("_PartialNewsList")
        </div>

        <div class="col-xs-3">
            <div class="advetise round-corner" ng-repeat="advertise in advertiseList">
                <a href="{{advertise.WebLink}}" target="_self">
                    <div class="text-border">
                        <img class="image" src="~/{{advertise.ImgUrl}}" alt="24 Hours dental service">
                        <span class="caption">{{advertise.Heading}}</span>
                        <span class="url">{{advertise.WebUrl}}</span>
                        <span class="text">{{advertise.ShortDesc}}</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
        </div>
    </div>
</div>

