<div class="admin-header-menu header-menu" style="width:1000px; margin:auto;">
    <ul id="menu" class="main-menu-ul">
        <li>
            <div class="menu-heading">
                @{
                    var url = HttpUtility.UrlDecode(Url.Action("Index", "Home"));
                }
                <a data-ng-href="@url" target="_self"><span class="menu-text">Home</span></a>
            </div>

        </li>
        <li>
            <div class="menu-heading">
                <span class="menu-text pull-left">News Update</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="news-menu" style="z-index:10;">
                <div class="column-first">
                    <div class="sub-menu-heading">Main News</div>
                    <ul>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("InsertNews", "TopNews"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Insert New</span></a>
                        </li>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Need Approval</span></a>
                        </li>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Make Active</span></a>
                        </li>

                    </ul>
                </div>

            </div>
        </li>
        <li>
            <div class="menu-heading">
                <span class="menu-text pull-left">खबरें&nbsp;</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="news-menu">
                <div class="column-first">
                    <div class="sub-menu-heading">समाचार&nbsp;</div>
                    <ul>
                        <li><span>राजनीति समाचार</span></li>
                        <li><span>व्यापार समाचार</span>	</li>
                        <li><span>अंतरराष्ट्रीय समाचार</span></li>
                    </ul>
                </div>
                <div class="column-first">
                    <div class="sub-menu-heading">क्षेत्रीय समाचार</div>
                    <ul>
                        <li><span>छत्तीसगढ़</span></li>
                        <li><span>बिहार</span></li>
                        <li><span>उत्तर प्रदेश</span></li>
                        <li><span>मध्य प्रदेश</span></li>
                        <li><span>राजस्थान</span></li>
                        <li><span>हिमाचल प्रदेश</span></li>
                        <li><span>पंजाब</span></li>
                    </ul>
                </div>
                <div class="column-first">
                    <div class="sub-menu-heading">खेल समाचार</div>
                    <ul>
                        <li><span>खेल कहानियां</span></li>
                        <li><span>क्रिकेट</span></li>
                        <li><span>फ़ुटबॉल</span></li>
                        <li><span>हॉकी</span></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <div class="menu-heading">
                <span class="menu-text pull-left">मनोरंजन</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="manoranjan-menu">
                <div class="column-first">
                    <ul>
                        <li><span>सिनेमा</span></li>
                        <li><span>मजाक</span></li>
                    </ul>
                </div>

            </div>
        </li>
        <li>
            <div class="menu-heading">
                <span class="menu-text">ज्योतिष</span>
            </div>
        </li>
        <li>
            <div class="menu-heading">
                <span class="menu-text">हमारे बारे में</span>
            </div>
        </li>
    </ul>
</div>

