@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Top ten news *@
<div id="topNews" class="container" ng-controller="TopNewsCtrl">

    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div id="topNewsItem" class="col-xs-6 col-lg-6" ng-repeat="news in imageNewsList">

                    <div ng-show="news.ImageUrl.length > 0" class="row">
                        <div class="col-xs-12">
                            <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_blank">
                                <span class="news-heading"> {{news.Heading}}</span>
                                <div class="pull-left padding-right-five">
                                    <img class=" news-image" ng-src="{{news.ImageUrl}}" alt=" ">
                                </div>
                                <p class="news-text padding-top-2">
                                    {{news.ShortDesc}}&nbsp;&nbsp;
                                    <span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated | hindiDate}}</span>
                                    
                                </p>
                            </a>
                            <hr class="style-two" />
                        </div>
                    </div>
                </div>
                <div id="topNewsItemDesc" class="col-xs-6 col-lg-6" ng-repeat="news in simpleNewsList">
                    <div class="row">
                        <div class="col-xs-12">
                            <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_blank">
                                <span class="news-heading"> {{news.Heading}}</span>
                                <p class="news-text padding-top-2">{{news.ShortDesc}}&nbsp;&nbsp;<span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated | hindiDate}}</span></p>
                            </a>
                            <hr class="style-two" />
                        </div>
                    </div>
                </div>

                <a href="@HttpUtility.UrlDecode(Url.Action("NewsList", "MainNews", new { NewsType = "{{NewsType}}" }))" style="width:100%;" class="show-all">
                    <div><bdi>और पढ़ें - आज की बाकी खबरें...</bdi></div>
                </a>
            </div>


        </div>

        <div class="col-xs-4">
            <div class="advetise round-corner" ng-repeat="advertise in advertiseList">
                <a href="{{advertise.WebLink}}" target="_blank">
                    <div class="text-border">
                        <img class="image" src="{{advertise.ImgUrl}}" alt="24 Hours dental service">
                        <span class="caption">{{advertise.Heading}}</span>
                        <span class="url">{{advertise.WebUrl}}</span>
                        <span class="text">{{advertise.ShortDesc}}</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
        </div>
    </div>
    @* End Top ten news *@
</div>














































@*<div class="page-row" style="height: 322px;">
        <div class="first-second-column">
        </div>
        <div class="page-column">
            <div class="third-column-container">
                <div class="column-title"><span>राशिफल</span></div>
                <div class="column-body-container">
                    <div class="other-column-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="news-list-container">
        <div class="news-list-medium">
            <a href="#" target="_blank">
                <div class="image-div">
                    <img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" />
                </div>
                <div class="content-div">
                    <span style="padding-right: 2px;">सबसे बड़ी एवि‍एशन डील : सबसे बड़ी एवि‍एशन डील : इंडि‍गो ने 250 एयरबस के लि‍ए दि‍या 25 अरब डॉलर का ऑर्डर</span>
                </div>
            </a>
        </div>

        <div class="page-column">
            <div class="first-column-container">
                <div class="column-title"><span>हेल्थ टिप्स</span></div>
                <div class="column-body-container">

                    <a href="#">
                        <div class="first-column-body">
                            <img class="image" src="~/Images/HealthTips/1_1439210609.jpg" alt="">
                        </div>
                        <div class="first-image-text">
                            <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
*@