@{
    ViewBag.Title = "Infotainment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Top ten news *@
<div id="topNews" class="container">
    <div class="row">
        <div class="col-xs-8">
            @*@Html.Partial("_PartialTopNewsPage")
            @Html.Partial("_PartialInternationNewsPage")*@

            @* State News *@
            <div id="stateNews" ng-controller="stateNewsHomeCtrl" class="row">
                <div class="title-box margin-top-30">
                    <a href="@HttpUtility.UrlDecode(Url.Action("NewsList", "MainNews", new { NewsType = "{{InterNewsType}}" }))" target="_self">
                        <span>&nbsp;&nbsp;{{StateTitle}}</span>
                    </a>
                    <select>
                        <option ng-repeat="state in StateTabList">{{state.StateName}}</option>
                    </select>
                </div>
                <div class="col-xs-12">
                    <div class="tab-container">
                        <div class="tab-button-container ">
                            <div class="tab-button" ng-repeat="state in StateTabList" id="{{state.StateCode}}" btn-radio="{{state.TabId}}" ng-model="activeTab.tabId">
                                <span ng-class="(activeTab.tabId == state.TabId) ? 'active' : ''">{{state.StateName}}</span>
                            </div>

                        </div>
                        <div class="tab-content-container">
                            <div style="height:300px;">{{activeTab.StateName}}</div>
                        </div>
                    </div>
                </div>
            </div>
            @* End of state news *@
        </div>
        @* Advertisment *@
        <div class="col-xs-4" ng-controller="advertismentCtrl">
            <div class="advetise round-corner" ng-repeat="advertise in advertiseList">
                <a href="{{advertise.WebLink}}" target="_blank">
                    <div class="text-border">
                        <img class="image" src="../{{advertise.ImgUrl}}" alt="24 Hours dental service">
                        <span class="caption">{{advertise.Heading}}</span>
                        <span class="url">{{advertise.WebUrl}}</span>
                        <span class="text">{{advertise.ShortDesc}}</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
        </div>
        @* End of advertisment *@
    </div>
</div>


@*<div class="col-xs-12 news-title">
        <a href="@HttpUtility.UrlDecode(Url.Action("NewsList", "MainNews", new { NewsType = "{{NewsType}}" }))" target="_self">
            <span>{{InterTitle}}</span>
            <span class="more pull-right">{{Moreheading}}</span>
        </a>
        <hr class="style-eight" />
    </div>*@



@*<div ng-repeat="tabContainer in StateNewsContainerList" id="{{tabContainer.TabContainerId}}" class="{{tabContainer.IsActiveContainer ? 'tab-content display' : 'tab-content hide'}}">
        <div class="tab-height">
            <div class="topnews">
                <a href="{{tabContainer.NewsId}}" target="_blank">
                    <img src="~/{{tabContainer.ImageUrl}}" alt="image" />
                    <strong>Bihar: {{tabContainer.ImageCaption}}</strong>
                    <p>{{tabContainer.ShortDesc}}</p>
                </a>
            </div>
            <div class="newslist-container">
                <div class="newslist-simmple">
                    {{tabContainer.StateName}}
                    <hr class="style-three" />
                    <ul>
                        <li ng-repeat="head in tabContainer.simpleNewsList">
                            <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="read-more"><a href="{{tabContainer.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
    </div>*@




































@*<div class="page-row" style="height: 322px;">
        <div class="first-second-column">
        </div>
        <div class="page-column">
            <div class="third-column-container">
                <div class="column-title"><span>राशिफल</span></div>
                <div class="column-body-container">
                    <div class="other-column-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="news-list-container">
        <div class="news-list-medium">
            <a href="#" target="_self">
                <div class="image-div">
                    <img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" />
                </div>
                <div class="content-div">
                    <span style="padding-right: 2px;">सबसे बड़ी एवि‍एशन डील : सबसे बड़ी एवि‍एशन डील : इंडि‍गो ने 250 एयरबस के लि‍ए दि‍या 25 अरब डॉलर का ऑर्डर</span>
                </div>
            </a>
        </div>

        <div class="page-column">
            <div class="first-column-container">
                <div class="column-title"><span>हेल्थ टिप्स</span></div>
                <div class="column-body-container">

                    <a href="#">
                        <div class="first-column-body">
                            <img class="image" src="~/Images/HealthTips/1_1439210609.jpg" alt="">
                        </div>
                        <div class="first-image-text">
                            <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
*@
