

<ul class="menu">
    <li>
        <a href="@HttpUtility.UrlDecode(Url.Action("Home", "Home"))">
            <span>होम&nbsp;&nbsp;</span>
        </a>

    </li>
    <li>
        <a href="#">
            <span>गेलरी&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#">तस्वीर</a></li>
            <li><a href="#">वीडियोज</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>समाचार&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">राजनीति समाचार</a></li>
            <li><a href="#" class="documents">व्यापार समाचार</a></li>
            <li><a href="#" class="documents">अंतरराष्ट्रीय समाचार</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>क्षेत्रीय समाचार&nbsp;</span> 
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">छत्तीसगढ़</a></li>
            <li><a href="#" class="messages">बिहार</a></li>
            <li><a href="#" class="messages">उत्तर प्रदेश</a> </li>
            <li><a href="#" class="messages">मध्य प्रदेश</a></li>
            <li><a href="#" class="messages">राजस्थान</a></li>
            <li><a href="#" class="messages">हिमाचल प्रदेश</a></li>
            <li><a href="#" class="messages">पंजाब</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>खेल समाचार&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">क्रिकेट</a></li>
            <li><a href="#" class="documents">फ़ुटबॉल</a></li>
            <li><a href="#" class="documents">हॉकी</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>मनोरंजन&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">सिनेमा</a></li>
            <li><a href="#" class="documents">मजाक</a></li>
            <li><a href="#" class="documents">कहानियां</a></li>
        </ul>
    </li>
    <li><a href="#">ज्योतिष</a></li>
    <li><a href="#">हमारे बारे में</a></li>

</ul>
@*<style>

        .menu a.documents {
                background: url(../img/docs.png) no-repeat 6px center;
            }

            .menu a.messages {
                background: url(../img/bubble.png) no-repeat 6px center;
            }

            .menu a.signout {
                background: url(../img/arrow.png) no-repeat 6px center;
            }
    </style>*@


