<section id="footer" class="footer" style="min-height:200px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <aside class="aside">
                    <h3>आनन्द इंफोटेनमेंट</h3>
                    <div class="menu-container-footer">
                        <ul class="menu-footer">
                            <li><a href="#">देश</a></li>
                            <li><a href="#">विदेश</a></li>
                            <li><a href="#">राज्य</a></li>
                            <li><a href="#">राजनीती</a></li>
                            <li><a href="#">ब्यापार</a></li>
                            <li><a href="#">खेल</a></li>
                            <li><a href="#">मनोरंजन</a></li>
                            <li><a href="@HttpUtility.UrlDecode(Url.Action("About", "AboutUs"))">हमारे बारे में</a></li>
                            <li><a href="#">हमसे संपर्क करें</a></li>
                            <li><a href="#">हमारे साथ विज्ञापन करें</a></li>
                        </ul>
                    </div>

                </aside>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="padding:5px; min-height:100px;">
                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center" style="padding:5px;">
                <strong>Copyright © 2015 आनन्द इंफोटेनमेंट.</strong>&nbsp;&nbsp;<span> आनन्द इंफोटेनमेंट, बाहरी साइटों पर मौजूद सामग्री के लिए ज़िम्मेदार नहीं है.</span>
            </div>
        </div>
    </div>
</section>
