@model Infotainment.Areas.Admin.Models.AdvertismentModal

<div class="col-xs-6 col-lg-4">
    <div class="advetise round-corner">
        <a href="http://www.dentistry.com" target="_blank">
            <div class="text-border">
                <img class="image" src="~/Images/Topten-Ad/dentistry-com.JPG" alt="24 Hours dental service">
                <span class="caption">Dental care, articles & forum</span>
                <span class="url">www.dentistry.com/</span>
                <span class="text">We have expert dental doctors. Dental emergency? Call 1-866-922-4095</span>
            </div>
        </a>
        <div class="space-top3">@Model.Heading</div>
    </div>
</div>