<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RSAPrivateKey" value="B840194432094D37D962298B10717CE87E04A0446EAB5AB0D243B0B5755B0CA3834DFF44DA581DACB37D1F95315"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="Server=RANJEET-PC\SQLEXPRESS;Database=Infotainment;Integrated Security=True;User Id=sa;Password=janeman;Connection Lifetime=120" />
  </connectionStrings>
</configuration>