@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="topNews" class="container" ng-controller="newsDetailCtrl">
    <div class="row">        
        <div class="col-xs-9"  infinite-scroll="pagingFunction()" infinite-scroll-distance="2" infinite-scroll-delay="100" infinite-scroll-disable="{{PartialNewsBusy}}" infinite-scroll-immediate-check="false" >
            <div class="row delay" ng-repeat="news in PartialNewsList">
                <div id="topNewsList" class="col-xs-12 list-container">
                    <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                        <span class="news-list-heading">{{news.Heading}}</span>
                    </a>
                    <div class="pull-left padding-right-five">
                        <img class="news-list-image" ng-src="{{news.ImageUrl}}" />
                    </div>

                    <a href="#" target="_self">
                        <span class="news-list-editor">{{news.DttmCreated | hindiDate}}</span>
                    </a>
                    <p>
                        <span class="news-list-short-desc">{{news.ShortDesc}}</span>
                        <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" class="text-primary" target="_self">और पढ़ें ..</a>
                    </p>
                </div>
                <hr />
            </div>
            <div ng-show="loadingMore"  style="height:100px;" class="row loading">
                <div class="col-xs-12 btn btn-lg btn-warning">
                    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">Loading.....</span>
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div class="advetise round-corner" ng-repeat="advertise in advertiseList">
                <a href="{{advertise.WebLink}}" target="_self">
                    <div class="text-border">
                        <img class="image" src="{{advertise.ImgUrl}}" alt="24 Hours dental service">
                        <span class="caption">{{advertise.Heading}}</span>
                        <span class="url">{{advertise.WebUrl}}</span>
                        <span class="text">{{advertise.ShortDesc}}</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
        </div>
    </div>
</div>
