@model Infotainment.Areas.Admin.Models.NewsActivationlList

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#chkSelectAll").bind("change", function () {
                $(".chkSelect").prop("checked", $(this).prop("checked"));
            });
            $(".chkSelect").bind("change", function () {
                if (!$(this).prop("checked"))
                    $("#chkSelectAll").prop("checked", false);
            });
            $(".alert").hide().fadeIn("slow");
        });
    </script>
}

@using (Html.BeginForm("MakeActive", "StateNews", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div id="content" class="container">
        <h3>State News Approval</h3>
        <div class="row">
            <div class="alert alert-info col-xs-10 message-header-container-2" style="margin-bottom:0px;">
                <strong style="width:100%; font-size:99%;"> @Model.Message </strong>
            </div>
            <div class="col-xs-2">
                <input id="approvalButton" class="btn btn-success" type="submit" value="Approve" style="width:100%; min-width:50px; font-size:99%;">
            </div>
        </div>
            <div id="grid" class="row grid-control table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="boxHeader">
                        <tr>
                            <th style="display:none;">NewsID</th>
                            <th width="20px">
                                <input type="checkbox" class="checkbox" id="chkSelectAll" style="height:17px; width:17px;" />
                                <input id="IsApprovedHidden" type="hidden" value="" name="IsApproved" />
                            </th>
                            <th class="text-left" width="10%">State Name</th>
                            <th class="text-left" width="45%">Heading</th>
                            <th class="text-left" width="15%">Status</th>
                            <th class="text-left" width="5%">Is Top</th>
                            <th class="text-left" width="20%">Created Dttm</th>
                            <th class="text-left" width="5%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                        @Html.EditorFor(m => m.ActivationlList)
                        }
                    </tbody>
                </table>
            </div>
        </div>
}
