@model Infotainment.Areas.Admin.Models.NewsApprovalList

@{
    ViewBag.Title = "NeedApproval";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#chkSelectAll").bind("change", function () {
                $(".chkSelect").prop("checked", $(this).prop("checked"));
            });
            $(".chkSelect").bind("change", function () {
                if (!$(this).prop("checked"))
                    $("#chkSelectAll").prop("checked", false);
            });
            $(".alert").hide().fadeIn("slow");
        });
    </script>
}

@using (Html.BeginForm("NeedApproval", "StateNews", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="contaier">
        <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-default" style="padding:0px;">
                <div class="panel-heading">
                    <h4 class="panel-title">State News Approval</h4>
                    <input id="approvalButton" class="btn btn-success" type="submit" value="Approve" style="margin-right:2px; min-width:50px; float:right; position: relative; top:-26px">
                </div>
            </div>
            <div class="alert alert-danger" style="margin-top:-20px;">
                <a class="close" data-dismiss="alert" href="#">×</a>
                @Model.Message
            </div>
            <div class="table-responsive" style="margin-top:-20px;">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr class="boxHeader label-info border-shadow-inside round-corner-top" style="height:35px;">
                            <th style="display:none;">NewsID</th>
                            <th width="20px">
                                <input type="checkbox" class="checkbox" id="chkSelectAll" style="height:17px; width:17px;" />
                                <input id="IsApprovedHidden" type="hidden" value="" name="IsApproved" />
                            </th>
                            <th class="text-left" width="10%">State Name</th>
                            <th class="text-left" width="45%">Heading</th>
                            <th class="text-left" width="15%">Status</th>
                            <th class="text-left" width="5%">Is Top</th>
                            <th class="text-left" width="20%">Created Dttm</th>
                            <th class="text-left" width="5%">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                    {
                        @Html.EditorFor(m => m.ApprovalList)
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


}
