@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="page-row">
        <div class="column col-span-three">
            <div class="news-container" ng-controller="stateNewsListCtrl">
                <div class="news-list" ng-repeat="news in stateNewsList">
                    <div class="pull-left news-Image">
                        <img src="~/{{news.ImageUrl}}" />
                    </div>
                    <div class="pull-right news-content">
                        @{
                            var url = Url.Action("StateNews", "StateNews", new { NewsId = "{{news.NewsID}}" });
                            url = HttpUtility.UrlDecode(url);
                        }
                        <a data-ng-href="@url" target="_blank"><span class="heading">{{news.Heading}}</span></a>
                        <hr class="style-three" />
                        <a href="#" target="_blank"><span class="editor">{{news.EditorName}} &nbsp;|&nbsp;{{news.Date}}</span></a>
                        <span class="short-desc">{{news.ShortDesc}}  
                            @{
                                url = Url.Action("StateNews", "StateNews", new { NewsId = "{{news.NewsID}}" });
                                url = HttpUtility.UrlDecode(url);
                            }
                            <a data-ng-href="@url" class="more"  target="_blank">More..</a></span>
                    </div>
                </div>
            </div>
            @* <div>More</div>*@
        </div>
        <div class="column column-four">
        </div>
    </div>

</div>

