@media (min-width: 320px) {
    /* login section*/
    .login-container {
        margin: auto;
        margin-top: 25%;
        width: 300px;
    }

    .login-image {
        margin: auto;
        margin-top: -45%;
        margin-left: 0px;
    }

    .login-heading {
        padding-left: 32%;
        width: 70%;
    }
    /* end loginsectin*/

    .message-header-container {
        margin-left: 0%;
        width:100%; 
    }
}
