@media (min-width: 600px) {
    /* login section*/
    .login-container {
        margin: auto;
        margin-top: 25%;
        width: 400px;
    }

    .login-image {
        margin: auto;
        margin-top: -35%;
        margin-left: 0px;
    }
    /* end loginsectin*/

    .message-header-container {
        margin-left: 0%;
        width:100%; 
    }
}
