
@media (min-width: 800px) {
    /* login section*/
    .login-container {
        margin: auto;
        margin-top: 25%;
        width: 450px;
    }
    .login-image {
        margin: auto;
        margin-top: -30%;
        margin-left: 0px;
    }
    /* end loginsectin*/

    
    .message-header-container {
        margin-left: 0%;
        width:100%; 
    }
}
